[Desktop Entry]
Type=Application
Name=Toggle File Picker (Yazi/Dolphin)
Comment=Switch XDG Portal between terminal and KDE
Exec={{ .chezmoi.homeDir }}/.config/hypr/scripts/toggle-filechooser.sh
Icon=system-file-manager
Terminal=false
Categories=Utility;System;