@import "colors.css";

/* ==========================================================================
   1. Globale Config 
   ========================================================================== */
* {
    font-size: 14px;
    font-family: "JetBrains";
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
    margin: 5px 0 0 5px; /* Haut, Droite, Bas, Gauche */
}

tooltip {
    color: @on_background;
    background-color: @background;
    border-radius: 20px;
}

/* ==========================================================================
   2. Modules & Main Ones
   ========================================================================== */
.modules-center {
    padding: 0 5px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    background-color: @primary;
    color: @on_primary;
}

#system,
#work,
#icons,
#custom-spotify {
    padding: 0 5px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    color: @on_primary;
    background-color: @primary;
}

/* Surcharge spécifique pour Spotify */
#custom-spotify {
    padding: 0 2px 0 7px;
}

#system {
    margin-left: 10px;
    margin-right: 5px;
}

#icons {
    margin-right: 10px;
}

/* ==========================================================================
   3. Padding & Marges of Modules
   ========================================================================== */
#clock,
#network,
#pulseaudio,
#custom-power,
#cpu,
#backlight,
#bluetooth,
#custom-launcher, 
#custom-music,
#custom-picker,
#custom-cava, 
#idle_inhibitor, 
#expand, 
#power-profiles-daemon,
#custom-tasks {
    padding: 0 5px;
}

#battery {
    padding: 0 3px;
}

#custom-expand_tasks {
    margin: 0 5px;
}

/* ==========================================================================
   4. Typo & Icon sizes
   ========================================================================== */
#network {
    font-size: 25px;
}

#power-profiles-daemon,
#custom-power,
#custom-launcher, 
#custom-music,
#custom-picker, 
#idle_inhibitor, 
#expand, 
#custom-tasks,
#icons,
#pulseaudio.muted {
    font-size: 20px;
}

#bluetooth,
#custom-cava,
#battery {
    font-size: 17px;
}

#clock {
    font-size: 15px;
    font-weight: bolder;
}

/* ==========================================================================
   5. Dynamic colors et Spécific states
   ========================================================================== */
#battery.charging,
#battery.plugged,
#idle_inhibitor.activated {
    color: green; /* Tip: Tu pourrais utiliser @success de Matugen ici plus tard ! */
}

#bluetooth.connected {
    color: blue;
}

/* Transparence de fond pour éviter les blocs noirs GTK */
#battery,
#battery.warning,
#battery.critical,
#battery.charging,
#battery.plugged {
    background-color: transparent;
}

/* ==========================================================================
   6. Interactions & Hover (Boutons et Icônes)
   ========================================================================== */
/* La transition sur l'état normal permet une animation fluide (Hover IN et Hover OUT) */
#custom-launcher, 
#custom-picker, 
#idle_inhibitor,
#custom-music,
#custom-cava,
#workspaces button,
#tasks button {
    transition: all 0.5s ease;
}

#custom-launcher:hover, 
#custom-picker:hover, 
#idle_inhibitor:hover,
#custom-music:hover,
#custom-cava:hover {
    color: @outline;
}

/* ==========================================================================
   7. Workspaces & Taskbar
   ========================================================================== */
#workspaces button,
#taskbar button {
    padding: 0 5px;
}

#workspaces button:hover {
    color: @surface_dim;
    border-radius: 80px;
}

#workspaces button.active {
    border-radius: 100px;
    text-shadow: 0px 0px 1.5px red; /* Tip: Essaye @error ou @primary ici */
}

#workspaces button.empty {
    color: @surface;
    border-radius: 100px;
}

#workspaces button:not(.active):not(.empty) {
    color: @on_surface;
    border-radius: 100px;
    text-shadow: 0px 0px 1.5px @surface_dim;
}

/* Tasks */
#tasks button {
    margin-top: 3px;
    margin-bottom: 3px;
}

#tasks button.active {
    background-color: @primary_container;
    border-radius: 100px;
}

#tasks button:hover {
    background-color: @on_surface;
    border-radius: 50%;
}