@import "colors.css";

/* --- Configuration Globale --- */
* {
    font-size: 14px;
    font-family: "JetBrains";
    min-height: 0;
    border: none;
    border-radius: 0;

}

window#waybar {
    background: transparent;
    margin: 5px 0 0 5px; /* Haut, Droite, Bas, Gauche */
}

tooltip {
  color: @on_background;
  background-color: @background;
  border-radius:20px;
}

/* --- Conteneurs de Modules --- */
.modules-center {
    padding: 0px 5px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    background-color: @primary;
    color: @on_primary;
}

/* --- Style commun pour les "Îlots" (groupes de modules) --- */
#system,
#work,
#icons {
    padding: 0 5px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    color: @on_primary;
    background-color: @primary;
}
#custom-spotify{
    padding: 0 2 0 7px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    color: @on_primary;
    background-color: @primary;

}

#system{
    margin-left: 10px;
    margin-right: 5px;
}

/* --- Padding de base pour la plupart des modules --- */
#clock,
#network,
#pulseaudio,
#custom-power,
#cpu,
#backlight,
#bluetooth,
#custom-launcher, 
#custom-music,
#custom-picker,
#custom-cava, 
#idle_inhibitor, 
#expand, 
#power-profiles-daemon,
#custom-tasks {
    padding: 0 5px;
}

/* --- Tailles de police spécifiques (souvent pour les icônes) --- */
#network {
    font-size: 25px;
}

#power-profiles-daemon,
#custom-power,
#custom-launcher, 
#custom-music,
#custom-picker, 
#idle_inhibitor, 
#expand, 
#custom-tasks,
#icons,
#pulseaudio.muted { /* Ajout de #icons ici pour son font-size */
    font-size: 20px;
}
#battery{
    padding:0 3px;
}
#bluetooth,
#custom-cava,
#battery{
    font-size: 17px;
}
#battery.charging,
#battery.plugged,
#idle_inhibitor.activated{
    color: green;
}
#bluetooth.connected{
    color: blue;
}
#clock {
    font-size: 15px;
    font-weight: bolder;
}

/* --- Ajustements Spécifiques module gauche --- */
#icons {
    margin-right: 10px; /* Espace entre les îlots */
}
#custom-launcher:hover, #custom-picker:hover, #idle_inhibitor:hover,#custom-music:hover,#custom-cava:hover{
    transition: all .5s ease;
    color:@outline;
}
#workspaces button {
    padding: 0 5px;
}
#workspace button.empty{
    color: @on_primary;
}
#taskbar button {
    padding: 0px 5px;
}
#custom-expand_tasks {
    margin: 0 5px;
}
#workspaces button:hover {
color:@surface_dim;
transition: all 0.5s ease;
border-radius:80px;
}
#workspaces button.active {
border-radius: 100px;
text-shadow: 0px 0px 1.5px red;
}
#workspaces button.empty {
color: @surface;
border-radius: 100px;
}
#workspaces button:not(.active):not(.empty){
    color: @on_surface;
    border-radius:100px;
    text-shadow: 0px 0px 1.5px @surface_dim;
}
#tasks button.active{
background-color: @primary_container;
border-radius:100px;
}
#tasks button:hover{
background-color: @on_surface;
border-radius: 50%;
}
#tasks button {
    margin-top: 3px;
    margin-bottom: 3px;
}